.userProfile {
    display: grid;
    grid-template-areas: 'a''ui''i';
    font-family: Roboto, sans-serif;
}

.avatar {
    grid-area: a;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}


.userInfo {
    grid-area: ui;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.input {
    width: 410px;
    height: 48px;
}

.inputs {
    grid-area: i;
    display: flex;
    flex-wrap: wrap;
    width: 850px;
    justify-content: flex-end;
    margin-left: 100px;
    gap:30px;
    margin-top: 50px;

}
