.container {
    padding-left: 140px;
    padding-right: 140px;
    font-size: 140px;
    font-weight: bold;
}

.employeeText {
    padding-top: 16px;
    padding-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: gray;
    font-weight: bold;
    margin-bottom: 10px;
}