.drawer {
    position: relative;
    flex-shrink: 0;
    white-space: nowrap;
}

.inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    overflow: hidden;
}

.navSection {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

